body {
    background-color: rgb(167, 204, 250);
    margin: 60px;
}

header {
    background-color: rgb(255, 234, 196);
    border: 5px groove white;
    height: 150px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font size: 24px;
}

nav li a {
    color: rgb(16, 102, 177);
    text-decoration: none;
    margin-bottom: 50px;
    text-align: justify;
}

nav ul li a {
    text-decoration: none;
    list-style: none;
    border-top: 10px;
}

nav li {
    display: inline-block;
    display: ruby-base;
    margin-right: 30px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

source {
    display: inline;
}

footer {
    background-color: rgb(81, 122, 250);
    text-align: center;
}